@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
}

.search-button {
  padding: auto;
  margin-left: 10px;
}

.repo-lists {
  justify-content: center;
  padding: auto;
  display: grid;
}
.logo {
  width: 40px;
  display: flex;
  margin-left: 50%;
}
h1 {
  display: flex;
  padding: ;
  margin-left: 10%;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin: auto;
  margin-top: 5px;
}
